{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block page %}{% endblock %}
{% block heading %}{{ super() }}{% endblock %}


{% block content %}

<div style="position:absolute; top:30%; width:100%; text-align:center; padding-left:20%; padding-right:20%;">
<h1>AuthorMaps</h1>
<p>AuthorMaps is a project within the module M-LSI-P-012 Programming Lab 2 of the masters program Life Science Informatics (University of Bonn).<br>
The scope of this project is to provide a search interface for PubMed's API, to determine a list of co-authors for a given author, and visualize co-author connections in a network.
</p>
<hr>
<p>Developed by Jackrite To, Zexin Li, Dhwani Solanki, Sanjana Srinivasan, and Justus Bisten</p>
<p><a href="https://gitlab.informatik.uni-bonn.de/bschultz/group_2">GitLab Page of the Project</a></p>
</div>
{% endblock %}
