{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block page %}{% endblock %}
{% block heading %}{{ super() }}{% endblock %}
{% block content %}
<div style="margin-left:2%">
<h1>Uh oh, something went wrong:</h1>
<h3>There were no authors found for your search: {{first_name}} {{last_name}}!</h3>
<li>Please verify whether you spelled their name correctly.</li>
<li>Make sure your search query starts with the first name of the author and ends with the last name with middle names inbetween e.g.: "Pietro Pilo Boyl"</li>
<li>Often researchers abbreviate their middle names with the first letter of the middlename. You might also try to search for e.g.: "Thomas D Schultz".</li>
</div>



{% endblock %}
